---
layout: page
title: "Galleries"
permalink: /gallery/
show_title:
main_image_path:
main_image_caption:
frontpage: false
homepage_description_markdown:
frontpagetitle:
_options:
  layout:
    hidden: true
  permalink:
    hidden: true
  image_path:
    uploads_dir: "assets/images/:year"
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  main_image_path:
    uploads_dir: "assets/images/:year"
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
  content:
    uploads_dir: "assets/:year"
_comments:
  title: Gallery title
  show_title: Show title on page
  main_image_path: Image used to represent your gallery
  frontpage: Show this gallery on the homepag
  frontpagetitle: Title for homepage display
  homepage_description_markdown: Text used on homepage if shown
---

<div class="editable">
  <p class="strapline"></p>

</div>

<div class="pure-g">

  <!-- order galleries by date -->
  {% assign galleries = site.gallery | sort: 'gallery_date' | reverse %}

  {% for gallery in galleries %}
  <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-4">
    <div class="l-box">
      <a href="{{ gallery.url }}">
        <img class="pure-img" src="{{ gallery.main_image_path | prepend: gallery.baseurl }}" alt="{{ gallery.frontpagetitle }}">
      </a>
      <h3 class="">
      {{ gallery.frontpagetitle }}
      </h3> 
      {% if gallery.homepage_description_markdown %}
        <p class="">
        {{ gallery.homepage_description_markdown | markdownify }} 
        </p>
      {% endif %}

    </div>
  </div>

  {% endfor %}
</div>
