<header class="" role="banner">

  <div class="custom-menu-wrapper">
    <div class="pure-menu custom-menu custom-menu-top">
      <a href="{{ site.baseurl }}/" class="pure-menu-heading custom-menu-brand" title="Return home">
        {% if site.logo and site.show_logo %}
          {% include img.html src=site.logo width=150 class="header--logo" alt=site.title %}
        {% else %}
          <h1 class="header--title">{{ site.title }}</h1>
        {% endif %}
      </a>
      <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
  </div>

  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
    <div class="custom-menu-screen"></div>
      <ul class="pure-menu-list">
        {% for link in site.data.nav %}

          {% unless link.href == "/" and page.url == "/" %}
            <li class="pure-menu-item{% if page.url == link.href %} pure-menu-selected{% endif %}">
              <a href="{{ link.href | prepend: site.baseurl }}"  class="pure-menu-link">{{ link.title }}</a>
            </li>
          {% endunless %}

        {% endfor %}
      </ul>
    </div>
  </div>

</header>
